@import './alliance.world.select';
@import 'alliance.table';

.AlliancePlayer {
    width: 100%;
}

.AllianceInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.AllianceInfo-Name {
    line-height: 32px;
}

.AllianceInfo-Stats {
    font-size: 11px;
    line-height: 32px;
}

.AllianceStats-Attack, .AllianceStats-Production {
    display: flex;
    justify-content: flex-end;
}

.AllianceStats-Stat {
    width: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.AllianceStats-Key {
    font-weight: 700;
}

.PlayerUpgrade-Off {
    margin-right: 8px;
    color: $primary-green;
}