@import '../style/mdl/variables';

.LoginForm {
  margin: 5% auto auto;
  width: $card-width;
  padding: $padding;
}

.LoginForm-ErrorMessage {
  color: $input-text-error-color;
  padding: $padding;
}