
i {
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

/**
    Icons
**/
i.icon-tiberium {
  background-image: url('../images/icon_tiberium.png');
}

i.icon-crystal {
  background-image: url('../images/icon_crystal.png');
}

i.icon-power {
  background-image: url('../images/icon_power.png');
}

i.icon-credit {
  background-image: url('../images/icon_credits.png');
}

i.icon-gdi {
  background-image: url('../images/icon_gdi.png');
}

i.icon-nod {
  background-image: url('../images/icon_nod.png');
}

i.icon-forgotten {
  background-image: url('../images/icon_for.png');
}

i.icon-fortress {
  background-image: url('../images/icon_for.png');
}
