.Icon {
    background: url(../static/favicon.png) no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-size: 100%;
    margin-right: 16px;
}

body {
    background-color: #f0f2f5 !important;
}

.ant-pagination-item-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
