@import 'mdl/reset/resets';

body {
    font-family: 'Roboto';
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    color: #757575;
}

.STLogo {
    background-image: url('/images/st_logo.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #333333;
    width: 128px;
    height: 128px;
}