
i {
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

/**
    Icons
**/
i.icon-tiberium {
  background-image: url('../images/icon_tiberium.png');
}

i.icon-crystal {
  background-image: url('../images/icon_crystal.png');
}

i.icon-power {
  background-image: url('../images/icon_power.png');
}

i.icon-credits {
  background-image: url('../images/icon_credits.png');
}

i.icon-gdi, i.Faction-GDI {
  background-image: url('../images/icon_gdi.png');
}

i.icon-nod, i.Faction-NOD {
  background-image: url('../images/icon_nod.png');
}

i.icon-forgotten {
  background-image: url('../images/icon_for.png');
}

i.icon-fortress {
  background-image: url('../images/icon_for.png');
}

// People - Skystrike
i.Support-205, i.Support-202 {
  background-image: url('../images/icon_support_inf_white.png');
}

// Tank - Ion
i.Support-204, i.Support-201 {
  background-image: url('../images/icon_support_tnk_white.png');
}

// Air - Falcon
i.Support-203, i.Support-200 {
  background-image: url('../images/icon_support_air_white.png');
}
