body {
    font-family: 'Roboto';
}

.Container {
    width: 600px;
    margin: auto;
}

.BaseHead {
    font-size: 200%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.BaseTitle {
    font-size: 120%;
    padding: 10px 5px;
}

.BaseTiles {
    border: 1px solid #ddd;
}

.BaseTileRow {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.BaseTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 50px;
    border-right: 1px solid #ddd;
    position: relative;
}

.BaseTile:last-child,
.BaseTileRow:last-child {
    border: none;
}

.BaseTile img {
    width: 55px;
    max-width: 55px;
    max-height: 55px;
}

.UnitUpgrade .BaseTileLevel {
    background-image: url('../images/star.png');
    background-size: 12px;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 3px;
}

.BaseTileLevel {
    position: absolute;
    bottom: 4px;
    left: 2px;
    font-size: 0.8em;
    background-color: #ddd;
    color: black;
    padding: 0 2px;
    border: 1px solid black;
}