.LayoutHeader {
    line-height: 48px;
    background-color: #080808;
    border-top: 4px solid #AEC71E;
    min-height: 48px;
    color: #fff;
    margin-bottom: 27px !important;
}

.Wrapper {
    max-width: 1000px;
    margin: auto;
}

.BoxShadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
}