$primary-header-color: #333333;
$primary-green: #AEC71E;

@import 'style/mdl/color-definitions';
$color-primary: $palette-blue-700 !default;

$text-color: rgba(0, 0, 0, 0.87);
$text-supporting-color: rgba(0, 0, 0, 0.54);
$text-disabled-color: rgba(0, 0, 0, 0.38);
$text-divider-color: rgba(0, 0, 0, 0.12);

$text-accent-color:  unquote("rgb(#{$color-primary})");


$tiberium-color: #96BF48;
$crystal-color: #4387BF;

@import 'style/grid';
@import 'style/icon';
@import 'style/base';
@import 'style/input';
@import 'style/button';
@import 'style/card';
@import 'style/menu';
@import 'layout/layout';
@import 'base/base';
@import 'login/login';
@import 'alliance/alliance';

.TextCenter {
    text-align: center;
}

a {
    text-decoration: none;
    color: unquote("rgb(#{$color-primary})");
    &:hover {
        cursor: pointer;
    }
}